.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Requests{
  margin-top: 5vh;
}
.buttons{
  margin: 0 2vw 2vh 2vw;
  padding: 5px;
  width: 10vw;
  background: #282c34;
  color: aliceblue;
  border: solid 2px aliceblue;
}
.reqHistory{
  color: aliceblue;
}
.reqHistoryTitle{
  width: 80vw;
  padding-top: 18px;
  border-top: solid 1px aliceblue;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
