.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}
.Requests{
  margin-top: 3vh;
  width: 80vw;
  padding-bottom: 3vh;
  border-bottom: solid 1px aliceblue;
}
.buttons{
  margin: 0 2vw 0 2vw;
  padding: 5px;
  width: 10vw;
  background: #282c34;
  color: aliceblue;
  border: solid 2px aliceblue;
}
.searchNews{
  margin: 0 0 0 2vw;
  padding: 5px;

  background: #282c34;
  color: aliceblue;
  border: solid 2px aliceblue;
}
.reqHistory{
  color: aliceblue;
}
.reqHistoryTitle{
  padding: 5px 15px;
  margin: 0 2vw;
  background: #282c34;
  color: aliceblue;
  border: solid 2px aliceblue;
}
.searchBtn{
  padding: 5px 15px;
  margin: 0 2vw 0 0;
  background: #282c34;
  color: aliceblue;
  border: solid 2px aliceblue;
}
.App-header {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.showDescription{
  width: 5vw;
  border: solid 2px #282c34;
  border-radius: 20px;
  background: aliceblue;
}
.newsName{
  margin-right: 18vw;
  margin-left: 18vw;
}
.newsDescription{
  margin-right: 4vw;
  margin-left: 4vw;
  font-size: calc(7px + 2vmin);
  color: #666666;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
